<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Welcome!</h1>

    <p>To visit the rest of the app, please <%= link_to "sign up", signup_path %>
      or <%= link_to "log in", login_path %>.</p>
  </div>
</div>