<div class="row">
  <div class="jumbotron" id="home">
    <h1>Welcome!</h1>

    <p>This is an app to manage the Northeastern Debate team's casebook.
    To access the app, you need to have an account with your @husky.neu.edu
    email address</p>
    <p><%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg" %></p>

  </div>
</div>