<h1>Welcome!</h1>

<p>
  Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>

<p>
  If that link doesn't work, copy and pase this url:
</p>

<p><%= edit_account_activation_url(@user.activation_token,
email: @user.email) %></p>