<h1>Pick a Case</h1>

<%= form_tag get_case_path do %>

  <%= select_tag :case_id,
    options_for_select(map_with_id(Case, :title)),
    class: "chosen-select" %><br/>

  <%= submit_tag "Create round", class: "btn btn-primary" %>
<% end %>
