<div class="index-controls">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button"
    data-toggle="dropdown">
      Order By <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Date (newest first)</a></li>
      <li><a href="#">Date (oldest first)</a></li>
      <li><a href="#">Average speaks</a></li>
      <li><a href="#">Win percentage</a></li>
      <li><a href="#">Tight calls (most first)</a></li>
      <li><a href="#">Tight calls (least first)</a></li>
    </ul>
  </div>
  <%= link_to 'Advanced Search', '#', class: "btn btn-default" %>
</div>
