<% provide(:title, "Cases") %>

<div class="row">
    <div class="case-table col-md-16">
      <%= render 'shared/index_controls' %>
      <% @cases.each do |a_case| %>
        <%= render 'case', a_case: a_case %>
      <% end %>
    </div>
    <%= will_paginate @cases %>
</div>
