<% provide(:title, "Search") %>

<div class="row">
    <div class="case-table col-md-16">
      <%= render 'shared/index_controls' %>
      <% @cases.each do |a_case| %>
          <div class="row case-row">
            <h4><%= link_to a_case.title, a_case %></h4>
            <span><%= a_case.case_statement %></span>
          </div>
      <% end %>
    </div>
    <%= will_paginate @cases %>
</div>
