<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "NU Casebook", "#", id: "logo" %>
    <nav>
      <%= link_to "Sign up", signup_path %>
    </nav>
  </div>
</header>