<ul id="logged-in-header">
  <li><%= link_to "Cases", cases_path %></li>
  <li><%= link_to "Log out", logout_path, method: :delete %></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <p class="glyphicon glyphicon-plus"></p><p class="caret"></p>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><%= link_to "New case", new_case_path %></li>
      <li><%= link_to "New round", new_round_path %></li>
    </ul>
  </li>
</ul>
